@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  a {
    @apply text-link-inactive hover:text-link-active;
  }
}

html::-webkit-scrollbar {
	display: none;
}

html {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

